* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

.hero {
    background-color: #060612;
    height: 100vh;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    padding-top: 240px;

}

.hero p {
    font-size: 2.2rem;
    color: aliceblue;
}

.hero h1 {
    font-size: 4.5rem;
    color: aliceblue;
    text-shadow: 0 0 10px rgba(0, 191, 255, .4);
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #0a1020;
}

.portfolio h1 {
    font-size: 2.2rem;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;

}

.portfolio p {
    color: aliceblue;
    padding-top: 2px;
    font-size: 1.3rem;
}

.scroll-indicator {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 22px;
  height: 22px;
  border-right: 2px solid #F0F8FF;
  border-bottom: 2px solid #F0F8FF;
  opacity: 0.85;
}

.scroll-indicator::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 22px;
  height: 22px;
  border-right: 2px solid #F0F8FF;
  border-bottom: 2px solid #F0F8FF;
  opacity: 0.45;
}


@media (max-width: 600px) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portfolio h1{
        font-size: 1rem;
    }
}